body {
	background-image: url(/static/img/ticks.png);
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	body {
		background-image: url(/static/img/ticks_@2X.png);
	}
}

.hidden {
	display: none;
}

.wrapper {
	margin: 7rem auto 3em auto;
}

#query {
	font-size: 4em;
	height: auto;
	line-height: normal;
}

#checkBtn {
	font-size: 2em;
	height: auto;
	line-height: normal;
}

footer {
	height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container {
	width: auto;
	max-width: 680px;
}
.container .credit {
	margin: 20px 0;
}