<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>{% block title %}Do We Just Leave These Here?{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="Max Fierke" />
  <link rel="shortcut icon" href="/static/favicon.ico" />

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/static/css/application.css" />
  {% block css %}{% endblock %}

</head>

<body>

  <a class="hidden-phone" href="https://github.com/maxfierke/dwjlth"><img class="right-corner" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <div class="wrapper">
    {% block main %}{% endblock %}
    <a href="https://github.com/maxfierke/dwjlth#do-we-just-leave-these-here">What is this? I don't even.</a>
  </div>

  <footer>
    {% include "footer.html" %}
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>


  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}{% endblock %}

  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
